body {
    background: #1a9968;
}
.whitebg {
  background: #ffffff
}
.header {
    height: 120px;
    padding-top: 20px;
    background: #cdcdcd;
  }
.header h2 {
    padding: 20px;
    margin: 0;
    color: #000;
    text-align: center;
    
  }



  .box {text-align: center}

  .box h4 {
    padding: 20px;
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    
  }

  .desc {
    padding: 10;
    margin: 10;
    color: #000;
    text-align: center;
    background: #ffffff;
  }

  #wrapper {
    margin: 20;
    padding: 20;
    border: 10;
 }
 #wrapper td {
    vertical-align: middle;
    text-align: center;
 }
@media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar ul {
      visibility: hidden;
    }
  
